---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  misc-unused-parameters,
  misc-const-correctness,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-loop-convert,
  readability-identifier-naming,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-exception-escape,

CheckOptions:
  readability-identifier-naming.FunctionCase: camelBack
  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.ParameterCase: lower_case
  readability-identifier-naming.ConstantCase: UPPER_CASE
  readability-identifier-naming.LocalConstantCase: lower_case
  readability-identifier-naming.ConstexprVariableCase: UPPER_CASE
  readability-identifier-naming.EnumConstantCase: UPPER_CASE
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.PrivateMemberSuffix: '_'
  readability-identifier-naming.ClassMethodCase: camelBack
  readability-identifier-naming.ParameterIgnoredRegexp: '^H$'
  readability-identifier-naming.VariableIgnoredRegexp: '^H$'
  readability-identifier-naming.LocalVariableIgnoredRegexp: '^H$'
...
